<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693778161489-fd3ldmml4haakmu64aiie16fkbq1scgt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693778161489-fd3ldmml4haakmu64aiie16fkbq1scgt</string>
	<key>API_KEY</key>
	<string>AIzaSyAUyMUG-XYjXaLGnFFwH6v2t_wvdn4KDXU</string>
	<key>GCM_SENDER_ID</key>
	<string>693778161489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inappmessagingtest</string>
	<key>PROJECT_ID</key>
	<string>inappmessagingtest-3f147</string>
	<key>STORAGE_BUCKET</key>
	<string>inappmessagingtest-3f147.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693778161489:ios:0a4944e17b6d30d47ffd70</string>
</dict>
</plist>